.bg-morning {
    background: linear-gradient(to right, #ffdd99, #ffbb66, #ff9966);
  }
  
  .bg-afternoon {
    background: linear-gradient(to right, #66ccff, #66ff99, #ffcc66);
  }
  
  .bg-evening {
    background: linear-gradient(to right, #ff9966, #ff6699, #9966ff);
  }
  
  .bg-night {
    background: linear-gradient(to right, #333333, #663399, #000000);
  }
  
  .vh-100 {
    height: 100vh;
  }
  